#!/bin/bash
function mcrcon {
/opt/minecraft/mcrcon -p {{ mcrcon_password }} "$1"
}

mcrcon "say [Info] Hourly server backup starting"
sleep 1s

mcrcon "save-off"
sleep 1s

mcrcon "save-all"
sleep 1s

kopia snapshot create /opt/minecraft
sleep 1s

mcrcon "save-on"
sleep 1s

mcrcon "say [Info] Server backup complete!"
sleep 1s

mcrcon "say [Info] Copying all local server backups to Mega"
rclone sync /opt/minecraft-backups mega:
sleep 1s

mcrcon "say [Info] Backup copy complete!"
sleep 1s