#!/bin/bash
function mcrcon {
/opt/minecraft/backups/scripts/mcrcon -p {{ mcrcon_password }} "$1"
}

mcrcon "say [Info] Hourly server backup starting"
sleep 1s

mcrcon "save-off"
sleep 1s

mcrcon "save-all"
sleep 1s

kopia snapshot create /opt/minecraft/servers
sleep 1s

mcrcon "save-on"
sleep 1s

mcrcon "say [Info] Server backup complete"
sleep 1s

mcrcon "say [Info] Copying all local server backups to Mega"
rclone sync --create-empty-src-dirs /opt/minecraft/backups/kopia mega:
sleep 1s

mcrcon "say [Info] Backup copy complete"
sleep 1s